@if (isLoading()) {
    <div class="text-center py-10">
        <p class="text-xl text-gray-500">Loading your Wish List...</p>
    </div>
}
@else if (wishListData().count) {
    <section class="w-[85%] mx-auto bg-gray-50 p-4 border rounded shadow-md mt-5">
        <h1 class="text-4xl font-medium mb-4 text-center text-main">Wish List</h1>
        
        @for (wish of wishListData().data; track $index) {
            
            <div class="grid md:grid-cols-[20%_minmax(0,1fr)] my-4 py-2 border-b-2 gap-5">
                <div class="">
                    <img [src]="wish.imageCover" class="w-full" [alt]="wish.title">
                </div> 
        
                <div class="flex justify-between items-center gap-5">
        
                    <div class="">
                        <h4 class="text-xl my-1">Date<b>:</b> <span class="font-medium"> {{wish.updatedAt}} </span> </h4>
                        <h3 class="text-xl">Title<b>:</b> {{wish.title}} </h3>
                        <h4 class="text-main text-xl my-1">Price<b>:</b> <span class="font-medium"> {{wish.price | currency: "EGP " }} </span> </h4>
                    </div>
                    
                    <div class="flex flex-col-reverse gap-4">
                        <button (click)="removeItem(wish.id)" class="hart text-2xl"> <i class="fa-solid fa-heart-circle-minus"></i> </button>
                        <button (click)="addToCart(wish.id)" class="cart text-2xl me-1"> <i class="fa-solid fa-cart-plus"></i> </button>
                        
                    </div>
        
                </div>
        
            </div>

        }
        
    </section>
}@else {
    <div class="flex flex-col justify-center items-center">
        <img src="/images/Empty-WishList.png" class="mx-auto w-[650px] h-[450px]" alt="Empty WishList">
        <h3 class="text-4xl font-bold">Your Wishlist is empty:(</h3>
        <p class="text-[#807D7E] my-4">Start adding items to your wishlist!</p>
        <button routerLink="/products" class="bg-[#00594E]  hover:bg-[#0aad0a] duration-500  py-3 px-8 rounded-lg text-xl text-white">Start Shopping</button>
    </div>
}