@if (detailsProduct) {
    <section>

        <h1 class="center text-4xl font-medium my-8 text-main">Details Product:</h1>
        <div class="grid sm:grid-cols-1 md:grid-cols-[minmax(0,1fr)_70%] items-center gap-5">
            <div class="grid sm:grid-cols-1 overflow-hidden rounded-md">
                <owl-carousel-o [options]="customOptions">
        
                    @for (pr of detailsProduct.images ; track pr) {
                        <ng-template carouselSlide >
                            <div>
                                <img [src]="pr" class="w-full h-[400px] object-contain hover:scale-105 duration-500" [alt]="detailsProduct.title">
                            </div>
                        </ng-template>
                    }
            
                </owl-carousel-o>
            </div>
            <div>
                <h2 class="text-2xl"> {{detailsProduct.title}} </h2>
                <p class="text-gray-500 my-2"> {{detailsProduct.description}} </p>
                <h3 class="text-2xl"> {{detailsProduct.category.name}} </h3>
                <div class="flex justify-between items-center">
                    <span class="my-1 font-medium"> {{  detailsProduct.price | currency:"EGP" }} </span>
                    <div class="flex items-center">
                        @for (num of [1,2,3,4,5].slice(0 , detailsProduct.ratingsAverage) ;track $index  ) {
                            <i class="fas fa-star rating-color"></i>
                        }
                        @if (detailsProduct.ratingsAverage % 1 !== 0 ) {
                            <i class="fa-solid fa-star-half-stroke rating-color"></i>
                        }
                        <span class="text-gray-500"> {{detailsProduct.ratingsAverage}} </span>
                    </div>
                </div>
                <button (click)="addToCart(detailsProduct.id)" class="btn-main my-2 w-full mx-auto block"> <i class="fa-solid fa-cart-plus mx-1"></i> Add To Cart</button>
            </div>
        </div>
    
    </section>
}