<section class="w-3/4 mx-auto bg-gray-50 p-4 border rounded shadow-md">

    <h1 class="text-3xl font-medium my-4">Forgot Password<b>:</b></h1>

    @if (step == 1) { 
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">

            <div  class="my-2">
                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email<b>:</b></label>
                <input formControlName="email" type="email" id="Email" class="mb-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                
                @let emailControl = verifyEmail.get("email");
                <app-error-message [nameControl]="emailControl"></app-error-message>
            </div>

            @if (successEmail()) {
                <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                    <span class="font-medium"> {{successEmail()}} </span>
                </div>
            }
            @else if (errorMsgEmail()) { 
                <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium"> {{errorMsgEmail()}} </span>
                </div>
            }

            <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email
                @if (isLoading) {
                    <span> <i class="fa fa-spin fa-spinner"></i> </span> 
                }
            </button>

        </form>
    }

    @else if (step == 2) {
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">

            <div  class="my-2">
                <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reset Code<b>:</b></label>
                <input formControlName="resetCode" type="text" id="resetCode" class="mb-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                
                @let codeControl = verifyCode.get("resetCode");
                <app-error-message [nameControl]="codeControl"></app-error-message>
            </div>

            @if (successCode()) {
                <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                    <span class="font-medium"> {{successCode()}} </span>
                </div>
            }
            @else if (errorMsgCode()) { 
                <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium"> {{errorMsgCode()}} </span>
                </div>
            }
    
            <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code
                @if (isLoading) {
                    <span> <i class="fa fa-spin fa-spinner"></i> </span> 
                }
            </button>
    
        </form>
    }

    @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
            <div>
                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email<b>:</b></label>
                <input readonly  formControlName="email" type="email" id="Email" class="mb-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                

                @let email_control = resetPassword.get("email"); 
                <app-error-message [nameControl]="email_control"></app-error-message>
            </div>    

            <div class="my-2 relative">
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password<b>:</b></label>
                <input formControlName="newPassword" [type]=" !togilPassword? 'password' : 'text' " id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                
                @if (!togilPassword) {
                    <span (click)="toggle()" class="absolute cursor-pointer top-[38px] right-2" > <i class="fa-solid fa-eye"></i> </span>
                }@else {
                    <span (click)="toggle()" class="absolute cursor-pointer top-[38px] right-2" > <i class="fa-solid fa-eye-slash"></i> </span>
                }

                @let newPasswordcontrol = resetPassword.get("newPassword");
                <app-error-message [nameControl]="newPasswordcontrol"></app-error-message>
            </div>

                            
            @if (successPassword()) {
                <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                    <span class="font-medium"> {{successPassword()}} </span>
                </div>
            }
            @else if (errorMsgPassword()) { 
                <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium"> {{errorMsgPassword()}} </span>
                </div>
            }

            <button [disabled]="resetPassword.invalid" class="btn-main">New Password
                @if (isLoading) {
                    <span> <i class="fa fa-spin fa-spinner"></i> </span> 
                }
            </button>

        </form>
    }

</section> 