<section class="py-5">

        <div class="overflow-hidden cursor-pointer">
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide>
                    <img src="/images/img0.jpg" class="w-auto h-[400px] rounded-md" alt="Shopping cart filled with fruits and vegetables">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img1.png" class="w-auto h-[400px] rounded-md" alt="Entryway decor ad">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img2.avif" class="w-auto h-[400px] rounded-md" alt="Adidas discount banner">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img3.avif" class="w-auto h-[400px] rounded-md" alt="Schneider Electric - Miluz">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img4.avif" class="w-auto h-[400px] rounded-md" alt="Telofill Micellar Water offer">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img5.avif" class="w-auto h-[400px] rounded-md" alt="Summer sale – Up to 70% off on fashion">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img6.avif" class="w-auto h-[400px] rounded-md" alt="High-spec laptops – Shop now">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img7.png" class="w-auto h-[400px] rounded-md" alt="Fashion sale – Up to 60% off + Extra 20% off with code EXTRA20">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img8.jpeg" class="w-auto h-[400px] rounded-md" alt="MALL">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img9.jpg" class="w-auto h-[400px] rounded-md" alt="Comelice skincare products">
                </ng-template>
            </owl-carousel-o>
        </div>

</section>