<section class="pt-5">

    <h2 class="text-4xl font-medium mb-4 text-main">Products<b>:</b></h2>

    <div class="search-wrapper">
        <div class="search-box">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
            d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z" />
            </svg>
            <input [(ngModel)]="text" type="search" id="search" class="search-input" placeholder="Search For Product..." required />
        </div>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

        @for (product of products() | search: text()  | paginate: { id: 'foo',itemsPerPage: pageSize,currentPage: p, totalItems: total } ; track product.id) {
            <app-product-item [product]="product" ></app-product-item>
        }

    </div>

    <div class="flex justify-center mt-8">
        <pagination-controls class="my-pagination" id="foo"
                        (pageChange)="getProductData($event)">
        </pagination-controls>
    </div>


</section>