nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    transition: all 0.5s ease-out;
}
.cart i {
    transition: all 0.5s;
}
.cart:hover {
    color: #0AAD0A;
}

.hart i {
    transition: all 0.5s;
}

.hart:hover {
    color: #ff0000;
}