<footer class="bg-gray-200 py-10">

    <div class="w-11/12 mx-auto">

        <h2 class="m-0 text-3xl">Get The FreshCart App</h2>
        <p class="text-gray-500 text-sm my-3">We Will Send You A Link, Open It On Your Phone To Download The App.</p>

        <div class="flex items-center gap-3 text-nowrap">

            <input type="text" aria-label="Email address" 
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" 
            placeholder="Email..." />

            <button class="btn-main">Share App Link</button>
        </div>


        
        <div class="pay-details md:flex justify-between items-center my-3 border-y border-gray-300 py-4">
            
            <div class="flex items-center gap-2 py-2 pe-4">
                <h3 class="">Payment Partners</h3>
                <img src="/images/amazon-pay.png" width="50px" alt="amazon-pay logo" />
                <img src="/images/American-Express-Color.png" width="50px" alt="American-Express logo" />
                <img src="/images/paypal.png" width="50px" alt="paypal logo" />
                <img src="/images/mastercard.webp" width="50px" alt="mastercard logo" />
            </div>
            
            <div class="flex items-center gap-2 py-2">
                <h3 class="h-6 m-0">Get Deliveries With FreshCart</h3>
                <img src="/images/get-google-play.png" width="100px" alt="google-play logo" />
                <img src="/images/get-apple-store.png" width="100px" alt="apple-store logo" />
            </div>
        
        </div>

    </div>

</footer>